{
	"extends": "pineglade",
	"ignorePatterns": [
		"**/*.bundle.js"
	],
	"overrides": [
		{
			"files": [
				"*.svelte"
			],
			"processor": "svelte3/svelte3",
			"rules": {
				"one-var": "off",
				"prefer-const": "off"
			}
		},
		{
			"files": "gulpfile.js",
			"rules": {
				"newline-per-chained-call": "off"
			}
		}
	],
	"plugins": [
		"svelte3"
	]
}
